@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family:cursive;
}


#preloader{
    background: #3f89ff url(images/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-size: 15%;
    }
.wrapper {
    background: #3f89ff;
    position: fixed;
    width: 100%;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    margin-left: 80px;
    display: flex;
}

.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px #122849;
    font-family: cursive;
    text-decoration:none ;
}

.content .links li {
    list-style: none;
    line-height: 70px;
    text-shadow: 2px 2px #122849;
}

.content .links li a,
.content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    background: #5ea8ff;
    box-shadow: 0 0 5px#5ea4ff, 0 0 9px rgb(19, 45, 128);
    text-decoration: none;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
    text-shadow: 2px 2px #122849;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #5ea8ff;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #5ea8ff;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}


/* Dropdown Menu code start */

.content .links ul {
    position: absolute;
    background: #3f89ff;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 10px 10px;
}

.content .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    text-decoration: none;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content .links ul li {
    position: relative;
}

.content .links ul li:hover ul {
    top: 0;
}


/* Responsive code start */

@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links {
        margin-left: 30px;
    }
    .content .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }
    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
    nav .content .links {
        display: block;
        position: fixed;
        background: linear-gradient(to right, rgb(63, 137, 255,1), rgba(255, 255, 255, 0.4));
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked~.content .links {
        left: 0%;
    }
    .content .links li {
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link {
        display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
    }
    .content .links ul li {
        margin: 7px 20px;
    }
    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }
    .content .logo a {
        font-size: 27px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input {
        padding-right: 30px;
    }
}


/* 

CSS Account

*/
.splitscreen {
    display: flex;
}
#rightside{
   right: 0;
   flex:1;
}
#leftside{
   height: 900px;
   z-index: -1;
   flex:1;
   background-repeat: no-repeat;
   background-size:100% 100%;
   opacity: 0.8;
  
  
}
.form{
    height:100%;
    width: 500px;
    margin: auto;
    margin-top: 100px;
}


.li a {
        display:block;
        text-decoration:none;
        padding:15px;
        background:rgba(gray-light,.25);
        color:gray-light;
        font-size:20px;
        float:left;
        width:50%;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
    
    }
.active a {
        background:main;
    }


.field-wrap {
        
        margin-bottom:30px;
    }
.top-row::after {
        
          content: "";
          display: table;
          clear: both;
        }

.req {
        margin:2px;
        color:main;
    }
.button {
        border-radius:12px;
        padding:15px 0;
        font-size:1rem;
        font-weight:bold;
        outline:none;
        text-transform:uppercase;
        letter-spacing:.1em;
        color:black;
        border-color:#3f89ff;
        cursor: pointer; 
        background:#5ea4ff;
    }
.button:hover {
        background:#3f89ff;
    }
.button-block {
        display:block;
        width:100%;
    }
.forgot {
        margin-top:-20px;
        text-align:right;
}
/*





footer






*/

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: rgb(25, 98, 214);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #ffffff;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #ffb53f;
    top: -10px;
}

.left .content p {
    text-align: justify;
    color: white;
}


.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 30px 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #d4d4d4cc;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
}

.left .content .social a span:hover {
    background: #ffb53f;
    transform: translateY(-2px);
    text-shadow: 0 5px 5px rgb(0 0 0 / 12%), 0 5px 5px rgb(0 0 0 / 24%);
}
.left .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: white;
}

.center .content .fas {
    font-size: 18px;
    background: #d4d4d4cc;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    margin: 15px 0 0;
}

.center .content .fas:hover {
    background: #ffb53f;
    transform: translateY(-2px);
    text-shadow: 0 5px 5px rgb(0 0 0 / 12%), 0 5px 5px rgb(0 0 0 / 24%);
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
    color: white;
}



.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #ffffff;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #ffffff;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .buttonn {
    margin-top: 10px;
}

.right form .buttonn button {
    height: 40px;
    width: 100%;
    background-color: #ffb53f;
    border: none;
    outline: none;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.right form .buttonn button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px rgb(0 0 0 / 12%), 0 5px 5px rgb(0 0 0 / 24%);

}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: rgba(47, 127, 255, 0.842);
}

.bottom center span {
    color: #ffffff;
}

.bottom center a {
    color: #ffb53f;
    text-decoration: none;
}

.bottom center a:hover {
    transform: translateY(-2px);
    text-shadow: 0 5px 5px rgb(0 0 0 / 30%), 0 5px 5px rgb(0 0 0 / 44%);
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}

.element:hover {
    color: white;
    background-color: black;
}